@import url('https://fonts.google.com/specimen/Josefin+Sans');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  transition: ease;
  transition-duration: 500ms;
  --light: hsl(0, 0%, 98%); /* Very Light Gray */
  --light-primary: hsl(236, 33%, 92%); /* Very Light Grayish Blue */
  --primary: hsl(233, 11%, 84%); /* Light Grayish Blue */
  --dark-primary: hsl(236, 9%, 61%); /* Dark Grayish Blue */
  --dark: hsl(235, 19%, 35%); /* Very Dark Grayish Blue */
  
  --shadow: hsl(235, 19%, 35%);
  --light-body: hsl(0, 0%, 98%); /* Very Light Gray */
  --header-image: url(./images/bg-desktop-light.jpg);
}

.dark {
  --light: hsl(235, 21%, 11%); /* Very Dark Blue */
  --light-primary: hsl(234, 39%, 85%); /* Light Grayish Blue */
  --primary: hsl(233, 11%, 84%); /* Light Grayish Blue */
  --dark-primary: hsl(234, 11%, 52%); /* Dark Grayish Blue */
  --dark: hsl(0, 0%, 78%); /* Very Dark Grayish Blue */
  
  --shadow: #00000060;
  --light-body: hsl(235, 24%, 19%); /* Very Dark Grayish Blue */
  --header-image: url(./images/bg-desktop-dark.jpg);
}

@media (max-width: 375px) {
  :root {
    --header-image: url(./images/bg-mobile-light.jpg);
  }
  .dark {
    --header-image: url(./images/bg-mobile-dark.jpg);
  }
}
/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --header-image: url(./images/bg-desktop-light.jpg);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: 'Josefin Sans', -apple-system, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
